body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.hero {
  padding: 100px 20px;
  background: linear-gradient(180deg, #0f172a, #020617);
}

.hero.small {
  padding: 60px 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

button:hover {
  background: #0ea5e9;
}

.section {
  padding: 80px 20px;
}

.section.alt {
  background: #020617;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: left;
}
